/* COLLOR PALLETE
https://coolors.co/d9bdc5-724cf9-f3ffc6-e8c7de-1b1b3a
 QueenPink - #d9bdc5
 MajorelleBlue- #724cf9
 Cream - #f3ffc6
 Thistle - #e8c7de
 SpaceCadet - #1b1b3a  */

/* Global Styles ********************************************/

body {
    color: #1b1b3a;
    margin: 0;
    padding: 0;
}
img {
    width: 300px;
}
h2 {
    margin: 0;
}

.content-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Profile ********************************************/
header {
    background-color: #724cf9;
}


/* Projects ********************************************/
.projects {
    background-color: #f3ffc6;
}



/* Work Experience ********************************************/
.workexp{
    background-color: #f3ffc6;
}


/* Education ********************************************/
.education {
    background-color: #f3ffc6;
}

/* Contact Info ********************************************/

footer {
    background-color: #724cf9;
}