/* COLLOR PALLETE
https://coolors.co/d9bdc5-724cf9-f3ffc6-e8c7de-1b1b3a
 QueenPink - #d9bdc5
 MajorelleBlue- #724cf9
 Cream - #f3ffc6
 Thistle - #e8c7de
 SpaceCadet - #1b1b3a  */

/* Global Styles ********************************************/

body {
    color: #1b1b3a;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}
img {
    width: 300px;
}
h1{
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    
}
h2 {
    
    font-size: 40px;
    font-weight: 400;
}
h1, h2 {
    margin: 0;
    font-family: 'Cinzel', serif;
    text-align: center;
}

.content-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Profile ********************************************/
header {
    background-color: #724cf9;
    color: #F3FFC6;
}


/* Projects ********************************************/
.projects {
    background-color: #f3ffc6;
}



/* Work Experience ********************************************/
.workexp{
    background-color: #f3ffc6;
}


/* Education ********************************************/
.education {
    background-color: #f3ffc6;
    
}

/* Contact Info ********************************************/

footer {
    background-color: #724cf9;
}